{
  "provider": {
    "STAGE": "dev",
    "REGION": "sa-east-1",
    "ACCESS_KEY": "",
    "SECRET_ACCESS_KEY": "",
    "ENV": {
      "SERVERLESS_OFFLINE_PORT": 8000
    }
  },
  "database": {
    "MONGO_URL": ""
  },
  "authentication": {
    "BCRYPT_ROUNDS": 10,
    "JWT_SECRET": "J6D38dx5ikEs8RSgSnYnW5eawLg25NPhRJm2mTH5iNL6hLkr",
    "JWT_EXPIRATION_TIME": "24h"
  }
}